$oca-text: #505050 !default; // $ft-text;
$oca-active: #B90000 !default; // $ft-red;
$oca-lightgrey: #bdbdbd !default; // $lightgrey;
$oca-training: #004990 !default; // $ft-blue;
$oca-racing: #B90000 !default; // $ft-red;
$oca-navbg: #ffffff;
$oca-navtop-small: 53px;
$oca-navtop-medium: 94px;
$oca-navtop-large: 54px;

.oca-events-calendar {

  margin-bottom: 50px;
  position: relative;
  z-index: 1;

  .pagination {
    .current {
      background-color: #{$oca-active};
    }
  }
  a:not(.button) {
    color: #{$oca-active};
  }

  #oca-events-nav {
    padding: 10px 0;
    position: sticky;
    top: $oca-navtop-small;
    z-index: 1;
    background-color: $oca-navbg;

    @media screen and (min-width:40em) {
      top: $oca-navtop-medium;
    }
    @media screen and (min-width:64em) {
      top: $oca-navtop-large;
    }
    
    text-align: center;
    border-bottom: 1px solid $oca-lightgrey;
  }

  #oca-event-years-wrapper {
    width: 500px;
    padding: 0 20px;
    margin: auto;
    overflow-x: hidden;
    overflow-y: hidden;
    // scroll-behavior: smooth;
    position: relative;
    height: 30px;
    line-height: 24px;
    display: none;
    @media screen and (min-width:40em) {
      display: inline-block;
      .paddles {
        .paddle {
          position: absolute;
          top: 0;
          bottom: 0;
          width: 30px;
          color: $oca-lightgrey;
          &:hover {
            color: $oca-active;
          }
          cursor: pointer;
        }
        .left-paddle {
          left: -7px;
        }
        .right-paddle {
          right: -7px;
        }
      }
    }
  }

  #oca-event-years {
    display: none;
    max-width: 460px;
    border-bottom: 1px solid grey;
    //   padding: 0 20px;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;
    &::-webkit-scrollbar {
      display: none;
    }

    > li {
      height: 30px;
    }
  }
  #oca-event-years-mobile {
    width: auto;
  }
  @media screen and (min-width:40em) {
    #oca-event-years-mobile {
      display: none;
    }
    #oca-event-years {
      display: inline-block;
    }
  }

  .select-event-year {
    line-height: inherit;
    cursor: pointer;
  }

  #oca-event-search {
    width: 80%;
    display: inline-block;
    .input-group-field {
      height: 2.2rem;
    }
    .button {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      background-color: #{$oca-active};
    }
    select {
      font-size: 0.85rem;
    }

    @media screen and (min-width:40em) {
      width: auto;
      .input-group-field {
        flex-grow: 0;
        transition: min-width 0.3s ease-in-out;
        min-width: 5rem;
        &:focus {
          min-width: 12rem;
        }
      }
    }
  }

  #oca-eventsdata {
    margin-top: 2rem;
    margin-bottom: 2rem;

    #oca-ongoingevents {
      background-color: #eee;

      .event {
        &:last-child {
          border-bottom: 2px dashed $oca-lightgrey;
        }
      }
    }

    #oca-searchresults {
      .event-date--year {
        display: block;
      }
    }

    // Event row
    .event {
      border-bottom: 1px solid $oca-lightgrey;
      &:last-child {
        border-bottom: none;
      }
      @media screen and (min-width:40em) {
        border-bottom: none;
      }

      // Set defaults for event colour/style if there's no parent class
      .eventtype-label {
        @include label;
        background: $oca-text;
        color: white;
        margin-right: 5px;
      }
      .eventMiniURL {
        color: $oca-text;
        font-weight: $global-weight-bold;
        &.button {
          color: white;
        }
      }
      .event-more {
        font-style: italic;
        color: #{$oca-active};
        &.button {
          color: white;
        }
      }

      &.training {
        .eventtype-label {
          background: $oca-training;
          color: white;
        }
        .eventMiniURL,
        .event-more {
          color: $oca-training;
        }
      }
      &.racing {
        .eventtype-label {
          background: $oca-racing;
          color: white;
        }
        .eventMiniURL,
        .event-more {
          color: $oca-racing;
        }
      }

      .date-range {
        display: flex;
        align-items: center;
      }

      .date-to {
        display: inline-block;
        margin: 0 0.2rem;
        @media screen and (min-width:40em) {
          margin: 0 0.2rem;
        }
        text-align: center;
      }

      .event-date {
        display: inline-block;
        text-align: center;
        min-width: 2.3rem;

        &--day {
          font-size: 0.9rem;
          border-width: 1px;
          border-color: grey;
          border-bottom-style: solid;
          border-left-style: solid;
          border-right-style: solid;
          border-top-style: none;
          line-height: 1.2;
          padding: 2px;
        }

        &--month {
          font-size: 0.8rem;
          line-height: 1.1;
          font-weight: $global-weight-bold;
          text-transform: uppercase;
          background-color: $oca-text;
          color: white;
          padding: 2px;
          border-color: $oca-text;
          border-width: 1px;
          border-bottom-style: none;
          border-left-style: solid;
          border-right-style: solid;
          border-top-style: solid;
          // border: 1px solid #9c001b;
        }
        &--year {
          display: none;
          font-size: 0.6rem;
        }
      }

      .event-venue {
        display: block;
        font-size: 0.9rem;
      }

      // .event-more {
      //   margin-bottom: 0;
      //   margin-top: 5px;
      //   padding-top: 0.5em;
      //   padding-bottom: 0.5em;
      //   padding-left: 0.75em;
      //   padding-right: 0.75em;
      //   font-size: 0.875;
      //   font-style: italic;
      //   background-color: #{$oca-active};
      // }

      .oca-eventdocs {

        &--title {
          font-weight: bold;
          margin-bottom: 0.5rem;
          cursor: pointer;
        }

        // $--docs {

        // }

        .resultdocs {
          padding: 0;
          margin: 0;
          list-style: none;
          position: relative;
          display: flex;
          flex-wrap: nowrap;
          flex-direction: column;


          a {
            display: flex;
            line-height: 1;
          }
          li.resultdoc {
            outline: 0;
            margin: 0;
            padding: 0;            
            font-size: 0.9rem;
            // @media print,screen and (max-width:39.99875em) {
            //   display: flex;
            //   justify-content: flex-end;
            // }            
            a {
              padding: 0 1rem 0.7rem 0;
            }
            .svg-inline--fa {
              margin-right: 0.25rem;
            }
          }
        }
      }
    }
  }

  .goToToday.button {
    cursor: pointer;
    color: #{$oca-active};
    border-color: #{$oca-active};
  }

  #oca-today {
    clear: both;
    max-width: 75rem;
    height: 0;
    margin: 1.25rem auto;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #cacaca;
    border-left: 0;
    position: relative;
    &::after {
      content: "TODAY";
      text-align: right;
      font-size: small;
      position: absolute;
      right: 0;
    }
  }

  #oca-months {
    display: none;
    @media screen and (min-width:40em) {
      display: block;
    }
  }
}
